<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.greencity.bladenightapp.dev.android"
    android:installLocation="auto"
    android:versionCode="3"
    android:versionName="DEV" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="de.greencity.bladenightapp.android.app.BladeNightApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name_dev"
        android:theme="@style/customTheme" >
        <service
            android:name="de.greencity.bladenightapp.android.tracker.GpsTrackerService"
            android:exported="false" />
        <service
            android:name="de.greencity.bladenightapp.android.background.BackgroundService"
            android:exported="false" />

        <activity
            android:name="de.greencity.bladenightapp.android.selection.SelectionActivity"
            android:label="@string/app_name_dev"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="de.greencity.bladenightapp.android.selection.SplashActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="de.greencity.bladenightapp.android.options.OptionsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="de.greencity.bladenightapp.android.statistics.StatisticsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="de.greencity.bladenightapp.android.map.BladenightMapActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="de.greencity.bladenightapp.android.social.SocialActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="de.greencity.bladenightapp.android.admin.AdminActivity"
            android:label="@string/title_activity_admin"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="de.greencity.bladenightapp.android.about.AboutActivity"
            android:label="@string/title_about"
            android:screenOrientation="portrait" >
        </activity>

        <receiver
            android:name="de.greencity.bladenightapp.android.widget.WidgetProvider"
            android:exported="true"
            android:icon="@drawable/application_dev"
            android:label="Blade Night Widget" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.APPWIDGET_ENABLED" />
                <action android:name="android.appwidget.action.APPWIDGET_DISABLED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>
        <receiver android:name="de.greencity.bladenightapp.android.background.BootBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="de.greencity.bladenightapp.android.background.BackgroundWakefulReceiver"
            android:exported="false" >
        </receiver>
        <receiver
            android:name="de.greencity.bladenightapp.android.cache.CacheWriterReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="de.greencity.bladenightapp.android.global.gotevents" />
            </intent-filter>
        </receiver>
    </application>

</manifest>